{% extends "base.html"%}
{% block title %}首頁{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<div class="col-xs-2 col-sm-2" style="height:100%;">

	<img style="display:block; margin:auto;" src="/static/img/yuntechche.png" width="100%"></img>
</div>
<div class="col-xs-10 col-sm-10" style="height:100%;">
	<h3>照片倫播</h3>
	<hr>
	<img style="display:block; margin:auto;" src="/static/img/banner.jpg" width="100%"></img>
	<br />
	<ul class="nav nav-tabs">
		<li role="presentation" class="active"><a href="#">最新公告</a></li>
	    <li role="presentation"><a href="#">去年公告</a></li>
		<li role="presentation"><a href="#">歷年公告</a></li>
	</ul>
</div>

{% endblock %}
