{% extends "base.html" %}
{% block title %}Login Panel{% endblock%}
{% block content %}
		<form id="bck" class="createtable" method="post" action="/login">
			</br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">後台帳號</span>
				<input class="form-control" type="text" name="buser" size="20" placeholder="請輸入使用者"><br>
			</div></br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">後台密碼</span>
				<input class="form-control" type="password" name="bpass" size="20" placeholder="請輸入密碼"><br>
			</div>
			<br />
			<div class="btn-group pull-right" role="group" aria-label="login Option">
				<button type="submit" id="login" class="btn btn-success">
					<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
					登入系統
				</button>
			</div>			
		</form>		
{% endblock%}
{% block script %}{% endblock %}
