{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100% </h5>" valign="top"><p align="left"><img src="images/teacher_12.jpg" width="150" height="150" border="1">
        <strong><img src="images/icon_01.gif" width="15" height="7"> 陳文星（Wen-Shing Chen）教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          國立台灣大學化工博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>程序合成、觸媒化學、石油煉製、污染防治</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="57%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="305"><div align="center">EC104</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4624</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="305"><div align="center"><SPAN lang="EN-US"><a href="http://www.che.yuntech.edu.tw/Polymeric Material L陳文星/" target="_blank" class="inwordlink">製程資源再生研究室</a></SPAN></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC419</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4684</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="305"><div align="center" class="mail"><a href="mailto:wangzen@yuntech.edu.tw" class="mail"></a><a href="mailto:Chenwen@yuntech.edu.tw" class="mail">Chenwen@yuntech.edu.tw</a><a href="mailto:ctwang@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="305"><div align="center">
              <p align="left">質傳特論、工業污染防治、高等工程數學 、石油化學工業、清淨製程技術</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="305"><div align="center"><a href="download/石油化學工業.doc" class="inwordlink">石油化學工業</a>、<a href="download/清淨製程技術.doc" class="inwordlink">清淨製程技術</a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="305"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=9107991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">主要研究領域：</span><br>
          石化製程、觸媒化學、污染防制<br>
        <p>.........................................................................................................................................................................................................................................        
        <p></td>
    </tr>
</table>
{% endblock %}
