{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
#___01 tr td .inword tr td p {
	color: #000;
}
-->
</style>
  <table width="700" height="1205" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="1205" valign="top"><p align="left"><img src="images/teacher_19.JPG" width="371" height="277"><strong>&nbsp;</strong><img src="images/icon_01.gif" width="15" height="7"><strong> 鄭宇伸 助理教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          美國加州大學Davis分校 生物系統工程博士 <br>
          國立中興大學 生物化學研究所碩士 <br>
          國立雲林科技 大學化學工程系學士
<p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 專長：</span> 生化工程，綠色化學工程，生質能源，應用微生物技術，微藻生物科技，生物程序設計，工程經濟與生命週期分析等。</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="46%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="223"><div align="center">EC413</div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="223"><div align="center">4627</div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="223"><div align="center">生物系統暨生化工程實驗室</div></td>
          </tr>
          <tr>
            <td height="18" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC102 </div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="223"><div align="center"></div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="223"><div align="center"><A href="http://webmail.yuntech.edu.tw/cgi-bin/genMail?adr=chouth@yuntech.edu.tw&" target="new_win">yscheng@gemail.yuntech.edu.tw</A></div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="223"><div align="center">
              <p>生化工程、程序設計、</div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="223"><div align="center">
              <div align="center">
                <div align="center">
                  <p><strong><SPAN lang="EN-US"></SPAN></strong><img src="images/icon_01.gif" width="15" height="7"></div>
              </div>
            </div></td>
          </tr>
          <tr>
            <td width="89" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="223"><div align="center"><img src="images/icon_07.gif" width="16" height="16" border="0"></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="21" height="7"></strong><span class="style1"> 參與執行研究計劃：<br>
          </span>1.	Life Cycle Modeling of Algal Biofuels Production. DOE funded CAB-Comm Collaborators: UC Davis. Period: September 2011 ~ in progress. PI: Alissa Kendall. Role: Postdoc.<br>
2.	Liquid fuels from microalgal cell walls and cytoplasmic polysaccharides, funded by Chevron Technology Ventures 2008. Funding awarded: USD 344,418. Period: January 2009 ~ March 2012. PI: Jean VanderGheynst, Co-PI: John Labavitch. Role: Co-author of proposal and Ph.D student investigator. <br>
3.	Characterizing Microalgae Cell Walls and Starch Reserves for Biofuel Production, funded by the University California Energy Institute, Energy Science and Technology Program 2008. Funding awarded: USD 31,938. Period: October 2008 ~ September 2009. PI: Jean VanderGheynst, Co-PI: John Labavitch. Role: Co-author of proposal and Ph.D student investigator. </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">學術期?論文：<br>
          </span>1.	Yi Zheng, Chaowei Yu, Yu-Shen Cheng, Christopher Lee, Christopher W. Simmons, Todd M. Dooley, Ruihong Zhang, Bryan M. Jenkins and Jean S. VanderGheynst. (2012). Integrating sugar beet pulp storage, hydrolysis and fermentation for fuel ethanol production. Applied Energy (in press) <br>
          2.	Yu-Shen Cheng, John Labavitch and Jean VanderGheynst. (2011). High-throughput analysis of hexosamine using a colorimetric method. Anal Biochem. 408(1): 160-162. (SCI) <br>
          3.	Yu-Shen Cheng, Yi Zheng, and Jean VanderGheynst. (2011). Rapid quantitative analysis of lipid using a colorimetric method in a microplate format. Lipid 46(1): 95-103. (SCI) <br>
          4.	Yu-Shen Cheng, Yi Zheng, John Labavitch and Jean VanderGheynst. (2011). The impact of cell wall carbohydrate composition on chitosan flocculation of Chlorella. Process Biochemistry. 46(10): 1927-1933. (SCI) <br>
          5.	Yi Zheng, Chaowei Yu, Yu-Shen Cheng, Ruihong Zhang, Jean VanderGheynst and Bryan Jenkins. (2011). Effects of ensilage on storage and enzymatic degradability of sugar beet pulp. Bioresource Technology 102(2): 1489-95. (SCI)<br>
6.	Yi Zheng, Chaowei Yu, Yu-Shen Cheng, Ruihong Zhang, Bryan Jenkins and Jean VanderGheynst. (2011). Influence of moisture content on microbial activity and silage quality during ensilage of food processing residues. Bioprocess and Biosystems Engineering 34(8): 987-995. (SCI) <br>
7.	Yu-Shen Cheng, Yi Zheng, Chao-Wei Yu, Todd Dooley, Bryan Jenkins, Jean VanderGheynst. (2010). Evaluation of high solids alkaline pretreatment of rice straw. Appl Biochem Biotechnol. 162(6): 1768&ndash;1784 (SCI)<br>
8.	Chaowei Yu; Yi Zheng; Yu-Shen Cheng; Bryan Jenkins; Ruihong Zhang; Jean S.VanderGheynst. (2010). Solid&ndash;liquid extraction of alkali metals and organic compounds by leaching of food industry residues. Bioresource Technology 101(12): 4331-4336. (SCI)<br>
9.	Jean VanderGheynst, Todd Dooley, Hong-Yun Guo, Herbert Scher and Yu-Shen Cheng. (2010). Storage and release of solutes and microalgae from water-in-oil emulsions stabilized by silica nanoparticles. Process Biochemistry 45(1): 1-6. (SCI) <br>
10.	Yu-Shen Cheng, Meng-Shiou Lee, Su-Yuan Lai, Shyue-Ru Doong, and Min-Ying Wang. (2001) Separation of pure and immuno-reactive virus-like particles using gel filtration chromatography following immobilized metal ion affinity chromatography. Biotechnology Progress, 17(2):318-325. (SCI) <br>
	11.	鄭宇伸、張功耀， (2000)，親和性核酸分子篩選技術之簡介，中國化學會化學季刊，58(4):671-677. <br>
<br>
<strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">研討會論文：<br>
</span>1.	Yu-Shen Cheng, John Labvitch and Jean VanderGheynst. Developing Systems for Bioproduct Refining from Microalgae. Presented for 2008 Annual Biotechnology Training Retreat. Napa, CA. (Poster) <br>
2.	Yu-Shen Cheng, Yi Zheng, Chao Wei Yu and Jean VanderGheynst.A comparison of lime and sodium hydroxide pretreatment for delignification and enzymatic hydrolysis of rice straw. 31st Symposium on Biotechnology for Fuels and Chemicals. San Francisco, CA. May 3-6, 2009. (Poster)<br>
3.	Yu-Shen Cheng, John Labvitch and Jean VanderGheynst. Liquid fuels from microalgal cell walls and cytoplasmic polysaccharides. Presented for chevron event. University of California, Davis. July, 30, 2009. (Poster) <br>
4.	Yu-Shen Cheng, John Labvitch and Jean VanderGheynst. Quantification and characterization of carbohydrate compositions in microalgal biomass. 2010 ACS Spring National meeting. San Francisco, CA. March 21-25, 2010. (Poster)<br>
5.	Yu-Shen Cheng, John Labvitch and Jean VanderGheynst . Role of cell wall composition on the flocculation of green microalgae. 32nd Symposium on Biotechnology for Fuels and Chemicals. Tampa, FL. April 19-22, 2010. (Poster)<br>
6.	Yu-Shen Cheng. Enzymatic hydrolysis of algal biomass for enhancement of lipid extraction and carbohydrate utilization. 33rd Symposium on Biotechnology for Fuels and Chemicals. Seattle, WA. May 2-5, 2011 (Oral presentation)</p>
        .........................................................................................................................................................................................................................................</p>
  </tr>
</table>
{% endblock %}
