{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style>

  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100%</h5>" valign="top"><p align="left"><img src="images/teacher_06.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> &nbsp;陳文章（Wen-Chang Chen）教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 學歷：</span><br>
          國立台灣大學化工博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>生化工程、生物感測器設計、生物分離技術、 微生物發酵工程</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="51%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="265"><div align="center">EC311</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="265"><div align="center">4621</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td width="265"><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="265"><div align="center"><a href="http://www.che.yuntech.edu.tw/Fermentation%20Biosensing%20Lab/FB%20lab.htm" target="_blank" class="inwordlink">發酵暨生物感測實驗室</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC209</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="265"><div align="center">4693</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="265"><div align="center"><a href="mailto:chenwc@yuntech.edu.tw" class="mail">chenwc@yuntech.edu.tw</a><a href="mailto:laism@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="265"><div align="center">
              <p align="left">酵素工程學、生化反應工程、計算機程式語言、食品工程、反應工程、生物感測系統實驗
            </div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="265"><div align="center"><a href="http://www.che.yuntech.edu.tw/teacher/chenwc/bio2.htm" target="_blank" class="inwordlink">生物化學參考資料</a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="265"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=8903991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">主要研究領域：</span><br>
          導電奈米結構材料應用於製備平面式生物感測器之研究        
        <p>.........................................................................................................................................................................................................................................        
        <p></td>
    </tr>
</table>
{% endblock %}
