{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100% </h5>" valign="top"><p align="left"><img src="images/teacher_11.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> &nbsp;王健聰 (Chien-Tsung   Wang) 教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          美國麻州東北大學化工博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>Aerogels Synthesis、Catalysis   and Surface Chemistry、Semiconductors、Supercritical Processing</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="57%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="305"><div align="center">EC103</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4623</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="305"><div align="center"><a href="http://www.che.yuntech.edu.tw/nanolab/" target="_blank" class="inwordlink">奈米材料實驗室</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC206</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4641</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="305"><div align="center" class="mail"><a href="mailto:wangzen@yuntech.edu.tw" class="mail"></a><a href="mailto:ctwang@yuntech.edu.tw" class="mail">ctwang@yuntech.edu.tw</a><a href="mailto:ctwang@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="305"><div align="center">
              <p align="left">奈米材料化學、奈米科技概論、工業觸媒、不均相觸媒、化工熱力學、反應工程</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="305"><div align="center"><a href="http://www.che.yuntech.edu.tw/teacher/ctwang/ct1/index.htm" target="_blank" class="inwordlink">輸送現象(一)</a>、<a href="download/書報討論-王健聰老師.doc" class="inwordlink">書報討論</a>、<a href="download/奈米材料化學-王健聰老師.pdf" target="_blank" class="inwordlink">奈米材料化學</a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="305"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=9005991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">主要研究領域：</span><br>
          ●奈米觸媒材料與表面化學<br>        
        ●奈米感測材料與半導體化學<br>        
        ●奈米半導體與太陽光電應用<br>        
        ●超臨界流體技術於奈米材料製程應用<br>
        <p>.........................................................................................................................................................................................................................................        
        <p></td>
    </tr>
  </tr>
</table>
{% endblock %}
