{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style>
  <table width="700" height="1205" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="1205" valign="top"><p align="left"><img src="images/teacher_16.jpg" width="150" height="150" border="1">
        <strong>&nbsp;</strong><img src="images/icon_01.gif" width="15" height="7"><strong> 陳國裕 副教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          國立成功大學化學工程所博士
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 專長：</span>生醫材料、高分子合成、奈米材料          </p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="45%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="230"><div align="center">EC315</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4614</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td width="230"><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="230"><div align="center">高分子與生醫材料實驗室</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC509</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4682</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="230"><div align="center"><A href="mailto:chenkuo@yuntech.edu.tw">chenkuo@yuntech.edu.tw</A></div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="230"><div align="center">
              <p>物理化學、高分子科學、物理化學實習、高分子化學、
                生醫材料概論、統計分析、實驗設計法</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="230"><div align="center"><img src="images/icon_01.gif" width="15" height="7"></div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="230"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=9816991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 研究方向：</span><br>
          ●<SPAN lang="EN-US"> </SPAN>骨組織工程支架材料<br>
          ●<SPAN lang="EN-US"> </SPAN>皮膚組織工程支架材料<br>
          ●<SPAN lang="EN-US"> </SPAN>抗菌敷料<p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 近三年研究計畫：</span><br>
        ●含基質細胞衍生因子-1之明膠/鍶取代氫氧基磷灰石複合物應用於骨修復(科技部專題計畫、103-2221-E-224-011)<br>
        ●明膠支架釋放基質細胞衍生因子-1對骨再生的影響(科技部專題計畫、102-2221-E-224-008)<br>
        ●幾丁聚醣薄膜結合基質細胞衍生因子-1應用於慢性傷口修復之研究(科技部專題計畫、101-2221-E-224-010)<br>
        ●含四級胺鹽基團幾丁聚醣/褐藻膠雙層微球的製備與藥物釋放性分析(科技部大專學生研究計畫、104-2815-C-224-008-E、曾思盈)<br>
        ●以陰離子型聚氨酯支架成長鍶取代磷灰石(科技部大專學生研究計畫、103-2815-C-224-007-E103-2815-C-224-007-E、吳文志)          
          <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">近五年SCI期刊論文：</span><br>
            1.<SPAN lang="EN-US">Y. T. Fu, S. Y. Sheu, Y. S. Chen, K. Y. Chen*, C. H. Yao* (2015). </SPAN>&ldquo;<SPAN lang="EN-US">Porous gelatin/tricalcium phosphate/genipin composites containing lumbrokinase for bone repair.</SPAN>&rdquo;<SPAN lang="EN-US">, <em>Bone</em>, 78, 15-22.</SPAN><br>
            2.W. L. Wang, S. Y. Sheu, Y. S. Chen, S. T. Kao, Y. T. Fu, T. F. Kuo, K. Y. Chen*, C. H. Yao* (2015). Enhanced bone tissue regeneration by porous gelatin composites loaded with the Chinese herbal decoction Danggui Buxue Tang. PLoS One, 10, Article ID e0131999, 12 pages.<br>
            3.Y. T. Fu, K. Y. Chen, Y. S. Chen, C. H. Yao* (2014). Earthworm (Pheretima aspergillum) extract stimulates osteoblast activity and inhibits osteoclast differentiation. BMC Complementary and Alternative Medicine, 14, Article ID 440, 9 pages.<br>
            4.W. L. Wang, S. Y. Sheu, Y. S. Chen, S. T. Kao, Y. T. Fu, T. F. Kuo, K. Y. Chen*, C. H. Yao* (2014). Evaluating the bone tissue regeneration capability of the Chinese herbal decoction Danggui Buxue Tang from a molecular biology perspective. BioMed Research International, 2014, Article ID 853234, 10 pages.<br>
            5.K. Y. Chen, C. M. Chung, Y. S. Chen, D. T. Bau, C. H. Yao* (2013). Rat bone marrow stromal cells-seeded porous gelatin/tricalcium phosphate/oligomeric proanthocyanidins composite scaffold for bone repair. Journal of Tissue Engineering and Regenerative Medicine, 7, 708-719.<br>
            6.K. Y. Chen, G. C. Dong, C. Y. Hsu, Y. S. Chen, C. H. Yao* (2013). Autologous bone marrow stromal cells loaded onto porous gelatin scaffolds containing Drynaria fortunei extract for bone repair. Journal of Biomedical Materials Research - Part A, 101, 954-962.<br>
            7.K. Y. Chen, K. C. Lin, Y. S. Chen, C. H. Yao* (2013). A novel porous gelatin composite containing naringin for bone repair. Evidence-based Complementary and Alternative Medicine, 2013, Article ID 283941, 9 pages.<br>
            8.C. H. Huang, C. Y. Chi, Y. S. Chen, K. Y. Chen, P. L. Chen, C. H. Yao* (2012). Evaluation of proanthocyandin-crosslinked electrospun gelatin nanofibers for drug delivering system. Materials Science & Engineering C-Materials for Biological Applications, 32, 2476-2483.<br>
            9.S. C. Wu, W. H. Chang, G. C. Dong, K. Y. Chen, Y. S. Chen, C. H. Yao* (2011). Cell adhesion and proliferation enhancement by gelatin nanofiber scaffolds. Journal of Bioactive and Compatible Polymers, 26, 565-577.<br>
        
          .........................................................................................................................................................................................................................................</p>
  </tr>
</table>

{% endblock %}
