{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style>
  <table width="700" height="2410" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="1205" valign="top"><p align="left"><img src="images/teacher_20.JPG" width="130" height="173"><strong>&nbsp;</strong><img src="images/icon_01.gif" width="15" height="7"><strong> 葉禮賢（Yeh, Li-Hsien）助理教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          <strong>國立臺灣大學化工博士 (Ph. D. in Chemical Engineering, National Taiwan University, Taiwan)</strong>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 專長：</span>奈米流體裝置、生物微流體分離技術、界面工程、能源轉換</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="45%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="230"><div align="center">EC415</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4628</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="230"><div align="center">微奈米流體實驗室</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC211</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4689</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="230"><div align="center"><A href="http://webmail.yuntech.edu.tw/cgi-bin/genMail?adr=chouth@yuntech.edu.tw&" target="new_win"></A>lhyeh@yuntech.edu.tw</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="230"><div align="center">
              <p>微積分、單元操作與輸送現象二、高等輸送現象、化工分離程序、微奈米流體晶片的應用              
            </div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="230"><div align="center"><a href="課程內容/葉禮賢教師著作.doc"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="21" height="7"></strong><span class="style1"> 主要研究領域：</span><br>
        ● 微、奈米流體裝置之應用。(Applications of Micro/Nanofluidic Devices)<br>
        ● 奈米孔道偵測技術。(Nanopore Sensing Techniques)<br>
        ● 奈米孔道中離子傳輸行為。(Ion Transport in Nanopores)<br>
        ● 奈米流體能源轉換裝置。(Nanofluidics-Based Energy Conversion Devices)。<br>
        ● 生物微流體分離。(Microfluidic Separation of Biological Entities)</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">(A)	近兩年SCI期刊論文：</span></p>
        <ol>


          <li>C. Y. Lin,1 L. H. Yeh,1,* J. P. Hsu, and S. Tseng, “Regulating Current Rectification and Nanoparticle Transport through a Salt Gradient in Bipolar Nanopores”, Small, accepted (2015).<br>
(2014 SCI impact factor: 8.368, Rank in Material Science, Multidisciplinary: 16/259)<br>
            <br>
          </li>
          <li>L. H. Yeh,* Y. Ma, S. Xue, and S. Qian, “Gate Manipulation of Ionic Conductance in a Nanochannel with Overlapped Electric Double Layers”, Sensors and Actuators B: Chemical, 215, 266-271 (August 2015).<br>
(2014 SCI impact factor: 4.097, Rank in Instruments & Instrumentation: 3/56)
<br>
            <br>
          </li>
          <li>M. J. Huang, L. Mei, L. H. Yeh,* and S. Qian, “pH-Regulated Nanopore Conductance with Overlapped Electric Double Layers”, Electrochemistry Communications, 55, 60-63 (June 2015).<br>
(2014 SCI impact factor: 4.847, Rank in Electrochemistry: 3/28)<br>
            <br>
          </li>
          <li>Y. Ma,1 L. H. Yeh,1,* C. Y. Lin, L. Mei, and S. Qian, “pH-Regulated Ionic Conductance in a Nanochannel with Overlapped Electric Double Layers”, Analytical Chemistry, 87, 4508-4514 (April 2015).<br>
(2014 SCI impact factor: 5.636, Rank in Chemistry, Analytical: 4/74)<br>
            <br>
          </li>
          <li>L. Mei,1 L. H. Yeh,1,* and S. Qian, “Buffer Effect on the Ionic Conductance in a pH-Regulated Nanochannel”, Electrochemistry Communications, 51, 129-132 (February 2015).<br>
(2014 SCI impact factor: 4.847, Rank in Electrochemistry: 3/28)<br>
            <br>
          </li>
          <li>C. H. Liang,1 L. H. Yeh,1 P. W. Liao, and T. H. Chou,* “Characterization and In Vitro Biocompatibility of Catanionic Assemblies Formed with Oppositely Charged Dicetyl Amphiphiles”, Colloids and Surfaces B: Biointerfaces, 126, 10-17 (February 2015). (1: Co-first authors)<br>
(2014 SCI impact factor: 4.152, Rank in Biophysics: 16/76)<br>
            <br>
          </li>
          <li>S. Atalay, L. H. Yeh,* and S. Qian,* “Proton Enhancement in an Extended Nanochannel”, Langmuir, 30, 13116-13120 (November 2014).<br>
(2014 SCI impact factor: 4.457, Rank in Material Science, Multidisciplinary: 35/259) <br>
            <br>
          </li>
          <li>L. H. Yeh,* Y. Ma, S. Xue, and S. Qian, “Electroviscous Effect on the Streaming Current in a pH-Regulated Nanochannel”, Electrochemistry Communications, 48, 77-80 (November 2014).<br>
(2014 SCI impact factor: 4.847, Rank in Electrochemistry: 3/28)<br>
            <br>
          </li>
          <li>Y. Ma, S. Xue, S. C. Hsu, L. H. Yeh,* S. Qian, and H. Tan, “Programmable Ionic Conductance in a pH-Regulated Gated Nanochannel”, Physical Chemistry Chemical Physics, 16, 20138-20146 (October 2014).<br>
(2014 SCI impact factor: 4.493, Rank in Physics, Atomic, Molecular & Chemical: 6/34)<br>
            <br>
          </li>
          <li>Z. Miline,1 L. H. Yeh,1,* T. H. Chou, and S. Qian,* “Tunable Donnan Potential and Electrokinetic Flow in a Biomimetic Gated Nanochannel with pH-Regulated Polyelectrolyte Brushes”, Journal of Physical Chemistry C, 118, 19806-19813 (August 2014).<br>
(2014 SCI impact factor: 4.772, Rank in Material Science, Multidisciplinary: 32/259)<br>
            <br>
          </li>
          <li>Y. Ma,1 L. H. Yeh,1,* S. Qian, J. P. Hsu, and S. Tseng, “Analytical Model for Surface Charge Property of pH-Regulated Nanorods”, Electrochemistry Communications, 45, 75-78 (August 2014).<br>
(2014 SCI impact factor: 4.847, Rank in Electrochemistry: 3/28)<br>
            <br>
          </li>
          <li>Y. Ma,1 L. H. Yeh,1,* and S. Qian, “pH-Regulated Ionic Conductance in a Nanopore”, Electrochemistry Communications, 43, 91-94 (June 2014).<br>
(2014 SCI impact factor: 4.847, Rank in Electrochemistry: 3/28)<br>
            <br>
          </li>
          <li>S. Xue,1 L. H. Yeh,1,* Y. Ma, and S. Qian, “Tunable Streaming Current in a pH-Regulated Nanochannel by a Field Effect Transistor”, Journal of Physical Chemistry C, 118, 6090-6099 (March 2014).<br>
(2014 SCI impact factor: 4.772, Rank in Material Science, Multidisciplinary: 32/259)<br>
            <br>
          </li>
          <li>L. H. Yeh,* C. Hughes, Z. Zeng, and S. Qian, “Tuning Ion Transport and Selectivity by a Salt Gradient in a Charged Nanopore”, Analytical Chemistry, 86, 2681-2686 (March 2014).<br>
(2014 SCI impact factor: 5.636, Rank in Chemistry, Analytical: 4/74)<br>
            <br>
          </li>
          <li>T. H. Chou,* C. W. Chen, C. H. Liang, L. H. Yeh, and S. Qian, “Simple Synthesis, Self-Assembly, and Cytotoxicity of Novel Dimeric Cholesterol Derivatives”, Colloids and Surfaces B: Biointerfaces, 116, 153-159 (April 2014).<br>
(2014 SCI impact factor: 4.152, Rank in Biophysics: 16/76)<br>
            <br>
          </li>
          <li>T. H. Chou,* C. H. Liang, Y. C. Lee, and L. H. Yeh, “Effects of Lipid Composition on Physicochemical Characteristics and Cytotoxicity of Vesicles Composed of Cationic and Anionic Dialkyl Lipids”, Physical Chemistry Chemical Physics, 16, 1545-1553 (January 2014).<br>
(2014 SCI impact factor: 4.493, Rank in Physics, Atomic, Molecular & Chemical: 6/34)<br>
            <br>
          </li>
          <li>L. Benson,1 L. H. Yeh,1,* T. H. Chou, and S. Qian,* “Field Effect Regulation of Donnan Potential and Electrokinetic Flow in a Functionalized Soft Nanochannel”, Soft Matter, 9, 9767-9773 (November 2013).<br>
(2014 SCI impact factor: 4.029, Rank in Polymer Science: 10/82)<br>
            <br>
          </li>
          <li>C. H. Liang, W. Y. Ho, L. H. Yeh, Y. S. Cheng, and T. H. Chou,* “Effects of 1-hexadecyl-3-methylimidazolium Ionic Liquids on the Physicochemical Characteristics and Cytotoxicity of Phosphatidylcholine Vesicles”, Colloids and Surfaces A: Physicochemical and Engineering Aspects, 436, 1083-1091 (September 2013).<br>
(2014 SCI impact factor: 2.752, Rank in Chemistry, Physical: 50/139)<br>
            <br>
          </li>
          <li>L. H. Yeh,* M. Zhang, and S. Qian,* “Ion Transport in a pH-Regulated Nanopore”, Analytical Chemistry, 85, 7527-7534 (August 2013).<br>
(2014 SCI impact factor: 5.636, Rank in Chemistry, Analytical: 4/74)<br>
            <br>
          </li>
          <li>S. Tseng, J. P. Hsu,* H. M. Lo, and L. H. Yeh,* “Electrophoresis of a Soft Sphere in a Necked Cylindrical Pore”, Physical Chemistry Chemical Physics, 15, 11758-11765 (July 2013).<br>
(2014 SCI impact factor: 4.493, Rank in Physics, Atomic, Molecular & Chemical: 6/34)<br>
            <br>
          </li>
          <li>Z. Wang, N. Hu,* L. H. Yeh, X. Zheng, J. Yang,* S. W. Joo,* and S. Qian,* “Electroformation and Electrofusion of Giant Vesicles in a Microfluidic Device”, Colloids and Surfaces B: Biointerfaces, 110, 81-87 (October 2013).<br>
(2014 SCI impact factor: 4.152, Rank in Biophysics: 16/76) <br>
            <br>
          </li>
          <li>C. Hughes,1 L. H. Yeh,1,* and S. Qian,* “Field Effect Modulation of Surface Charge Property and Electroosmotic Flow in a Nanochannel: Stern Layer Effect”, Journal of Physical Chemistry C, 117, 9322-9331 (May 2013).<br>
(2014 SCI impact factor: 4.772, Rank in Material Science, Multidisciplinary: 32/259)<br>
            <br>
          </li>
          <li>L. Liu, L. Zhao, J. Yang,* X. Wang, N. Hu,* L. H. Yeh, S. W. Joo, S. Qian, “Low-Voltage Pulsed Electric Field Sterilization on a Microfluidic Chip”, Electroanalysis, 25, 1301-1309 (May 2013).<br>
(2014 SCI impact factor: 2.138, Rank in Chemistry, Analytical: 36/74)<br>
            <br>
            </li>
          <li>S. Tseng, C. Y. Lin, J. P. Hsu,* and L. H. Yeh,* “Electrophoresis of Deformable Polyelectrolytes in a Nanofluidic Channel”, Langmuir, 29, 2446-2454 (February 2013).<br>
(2014 SCI impact factor: 4.457, Rank in Material Science, Multidisciplinary: 35/259)<br>
       
　　　　　　<br>
　　　　　　</li>
          <li>S. Tseng, T. H. Hsieh, L. H. Yeh, N. Wang, and J. P. Hsu,* “Electrophoresis of a Charge-Regulated Soft Sphere: Importance of Effective Membrane Charge”, Colloids and Surfaces B: Biointerfaces, 102, 864-870 (February 2013).<br>
(2014 SCI impact factor: 4.152, Rank in Biophysics: 16/76)<br>
       
　　　　　　<br>
　　　　　　</li>
        </ol>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">(B) 專書專節：</span></p>
        <ol>
          <li>L. H. Yeh and J. P. Hsu, “Electrophoretic Behavior of pH-regulated Soft Biocolloids”, in “Encyclopedia of Biocolloid and Biointerface Science”, Hiroyuki Ohshima, Ed., John Wiley & Sons, Inc., accepted (2015).<br>
            <br>
          </li>
          <li>S. Qian and L. H. Yeh, “Modelling DNA Electrokinetic Translocation through a Nanopore”, in “Computational Bioengineering”, Guigen Zhang, Ed., CRC Press, Taylor & Francis, pp. 377-400, ISBN: 978-1-4665-1755-4 (April 2015).<br>
            <br>
          </li>
          <li>Li-Hsien Yeh and Jyh-Ping Hsu, “Electrophoresis of Soft Particles in a Confined Space”, in “Electrical Phenomena at Interfaces and Biointerfaces: Fundamentals and Applications in Nano-, Bio, and Environmental Sciences”, Hiroyuki Ohshima, Ed., John Wiley & Sons, Inc., New York, pp. 61-94, ISBN: 978-1-1181-3542-6 (2012).<br>
            <br>
          </li>
        </ol>
        <p><br>
          <strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">(C) 產學計畫案：</span></p>
        <ol>
          <li>高分子產業加值輔導推廣計畫-樹脂應用技術人才培訓計畫，經濟部工業局專案計畫，核定經費$366,000，2015/01~2015/12。(主持人)</br></br></li>
          <li>生物啟發奈米流體二極體：理論模擬與實驗，科技部優秀年輕學者計畫(MOST 103-2221-E-224-039-MY3)，核定經費$3,248,000，2014/08~2017/07。(主持人)</br></br></li>
          <li>高分子產業加值輔導推廣計畫-樹脂應用技術人才培訓計畫，經濟部工業局專案計畫，核定經費$379,000，2014/01~2014/12。(主持人)</br></br></li>
          <li>高效率分離純化與混合分散基礎技術研發暨推廣中心計畫(1/3)，科技部深耕工業基礎技術專案計劃(MOST 103-2218-E-002-010)，核定經費$8,000,000，2014/01~2014/12。(共同主持人)</br></br></li>
          <li>pH可調節型奈米孔道中離子傳輸行為研究與模擬以及在單一未標誌奈米粒子偵測上之應用，科技部新進人員研究計畫(MOST 102-2221-E-224-052-MY3)，核定經費$3,464,000，2013/08~2016/07。(主持人)</br></br></li>
          <li>高效率分離純化與混合分散基礎技術研發暨推廣中心計畫，國科會深耕工業基礎技術專案計劃(NSC 102-2218-E-002-006)，核定經費$8,000,000，2013/01~2013/12。(共同主持人)</br></br></li>
          <li>發展偵測奈米粒子之新興奈米孔道系統：理論與實驗，國科會新進人員研究計畫(MOST 101-2218-E-224-005)，核定經費$950,000，2012/10~2013/09。(主持人)</br></br></li>


        </ol>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">(D) 榮譽與獲獎：</span></p>
        <ol>
          <li>陳馥同學/葉禮賢指導教授，科技部大專學生研究計畫，2015。</li>
          <li>指導學生(翁珮瑄、王佩馨)獲得雲科化材系實務專題競賽優等獎，2015。</li>
          <li>指導學生(劉彥甫、陳姿雯)獲得雲科化材系實務專題競賽優等獎，2015。</li>
          <li>入選第三十二屆Who is Who in the World，2015。</li>
          <li>教學優良獎，國立雲林科技大學，2014。</li>
          <li>科技部化工學門優秀年輕學者計畫，2014。</li>
          <li>翁珮瑄同學/葉禮賢指導教授，科技部大專學生研究計畫，2014。</li>
          <li>黃名江同學/葉禮賢指導教授，科技部獎勵國內研究生出席國際學術會議(CHISA 2014，捷克布拉格)，2014。</li>
          <li>許展禎同學/葉禮賢指導教授，科技部獎勵國內研究生出席國際學術會議(CHISA 2014，捷克布拉格)，2014。</li>
          <li>台灣化學工程學會學術勵進獎，2013。</li>
          <li>黃名江/葉禮賢指導教授，傑出海報獎，2013年中華民國界面科學學會年會暨論文發表會。</li>
          <li>黃名江/葉禮賢指導教授，壁報論文競賽佳作，2012年台灣化學工程學會59週年年會暨國科會化工學門成果發表會。</li>

        </ol>
        <p>...............................................................................................</p>
        </p>
    </tr>
</table>
{% endblock %}
