{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style></head>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100%</h5>" valign="top"><p align="left"><img src="images/teacher_05.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> &nbsp;林智汶（Chi-Wen Lin）教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          美國阿克隆大學高分子科學博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>黏著科學與技術、橡膠技術、複合(混成)材料、高分子材料在儲能裝置之應用 </p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td colspan="3"><div align="center">EC307</div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td colspan="3"><div align="center">4613</div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td colspan="3"><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td colspan="3"><div align="center"><a href="http://www.che.yuntech.edu.tw/Laboratory/functional%20polymer%20lab/index.html" target="_blank" class="inwordlink">功能性高分子實驗</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td colspan="3"><div align="center">EC111A</div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td colspan="3"><div align="center">4691</div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td colspan="3"><div align="center"><a href="mailto:lincw@yuntech.edu.tw" class="mail">lincw@yuntech.edu.tw</a><a href="mailto:laism@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td colspan="3"><div align="center">化工熱力學、高等高分子物性、化學技術實習</div></td>
          </tr>
          <tr>
            <td width="76" height="20" rowspan="6" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="89" align="center" valign="bottom"><div align="center">高等高分子物性</div></td>
            <td width="104" align="center" valign="bottom">化工熱力學</td>
            <td width="93" align="center" valign="bottom">化學工程概論</td>
            </tr>
          <tr>
            <td align="center" valign="bottom"><a href="download/chapter1.pdf" target="_blank" class="inwordlink">第一章</a></td>
            <td align="center" valign="bottom" class="inwordlink"><a href="download/SolutionChap1.pdf" target="_blank" class="inwordlink">第一章習題解答</a></td>
            <td align="center" valign="bottom"><a href="download/Chapter_01.ppt" class="inwordlink">第一章</a></td>
            </tr>
          <tr>
            <td align="center" valign="bottom"><a href="download/CHAPTER4TransitionPhenomena.pdf" target="_blank" class="inwordlink">第四章</a></td>
            <td align="center" valign="bottom" class="inwordlink"><a href="download/SolutionChap2.pdf" target="_blank" class="inwordlink">第二章習題解答</a></td>
            <td align="center" valign="bottom"><a href="download/Chapter_2.ppt" class="inwordlink">第二章</a></td>
            </tr>
          <tr>
            <td align="center" valign="bottom"><a href="download/Chapter7and8.pdf" target="_blank" class="inwordlink">第七、八章</a></td>
            <td align="center" valign="bottom" class="inwordlink"><a href="download/Chapter_3.mdi" target="_blank" class="inwordlink">第三章</a></td>
            <td align="center" valign="bottom"><a href="download/Chapter_3.ppt" class="inwordlink">第三章</a></td>
          </tr>
          <tr>
            <td align="center" valign="bottom">&nbsp;</td>
            <td align="center" valign="bottom" class="inwordlink"><a href="download/Chapter_5.mdi" target="_blank" class="inwordlink">第五章</a></td>
            <td align="center" valign="bottom"><a href="download/Chapter_05.ppt" class="inwordlink">第五章</a></td>
          </tr>
          <tr>
            <td align="center" valign="bottom">&nbsp;</td>
            <td align="center" valign="bottom" class="inwordlink"><a href="download/Chapter_6.pdf" target="_blank" class="inwordlink">第六章</a></td>
            <td align="center" valign="bottom"><a href="download/Chapter_07.ppt" class="inwordlink">第七章</a></td>
            </tr>
          <tr>
            <td width="76" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td colspan="3"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=8323991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">主要研究領域：</span><br>
          1.工業黏著技術，橡膠(含輪胎)技術<br>
          2.燃料電池：PEMFC、DMFC(質子傳導膜、氣體擴散電極)<br>
          3. 鋰電池：隔離膜，固態電解質
        <p>.........................................................................................................................................................................................................................................        
</table>
{% endblock %}
