{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
}
-->
</style></head>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100%</h5>" valign="top"><p align="left"><img src="images/teacher_04.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> 黃振家（Chen-Chia Huang）教授兼副校長</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          美國德州大學奧斯汀校區化工博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>分離技術、吸附工程、工業安全與衛生、碳材開發、材料熱化學分析</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="42%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="204"><div align="center">EC308</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="204"><div align="center">4616</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td width="204"><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="204"><div align="center">碳材開發暨吸附實驗室</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC325</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="204"><div align="center">4685</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="204"><div align="center"><a href="mailto:huangchc@yuntech.edu.tw" class="mail">huangchc@yuntech.edu.tw</a><a href="mailto:laism@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="204"><div align="left">單元操作與輸送現象、化工製程安全設計、化工安全衛生、單元操作實習</div></td>
          </tr>
          <tr>
            <td width="81" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="204"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=8711991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">主要研究領域：</span><br>
          ●奈米結構碳材開發及其吸附應用<BR>
          <strong>●</strong>奈米結構碳材改質及其在能源儲存的應用        
        <p>.....................................................................................................................................................................................        ...................................................        
        <p>        
        <p>        
        <p>.        
  </table>
{% endblock %}
