{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style2 {color: #CC3300}
-->
</style>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100% </h5>" valign="top"><p align="left"><img src="images/teacher_09.jpg" width="150" height="150" border="1">
          <img src="images/icon_01.gif" width="15" height="7"><strong>&nbsp; &nbsp;廖文城（Wen-Chang Liaw）教授/工業污染防治研究中心 主任</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><span class="style2"><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong> 學歷：</span><br>
          國立臺灣大學化學博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style2">專長：</span>高分子化學、界面化學、化學工業安全、有機合成工業</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="57%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="305"><div align="center">EC310</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4618</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="305"><div align="center"><a href="http://www.che.yuntech.edu.tw/Synthetic%20Chemistry%20La/" target="_blank" class="inwordlink">合成化學實驗室</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC513</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="305"><div align="center">4699</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="305"><div align="center" class="mail"><a href="mailto:liawwc@yuntech.edu.tw" class="mail">liawwc@yuntech.edu.tw</a><a href="mailto:wangzen@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="305"><div align="center">
              <p align="left">有機合成專論、界面化學特論、有機化學、有機化學實習</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="305"><div align="center"><a href="download/有機化學.doc" class="inwordlink">有機化學</a>、<a href="download/有機化學實驗（二）.doc" class="inwordlink">有機化學實習</a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="305"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=8420991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style2">主要研究領域：</span><br>
          ●含可交聯聚二甲基矽氧-聚亞醯胺共聚合物的製備研究<br>
          
          ●含奈米填充粒子的聚亞醯胺-金屬氧化物混成材料開發研究<br>
          
          ●以MIPs技術製備具分子辨識能力聚合物的研究<br>
          
          ●聚亞醯胺與矽氧化合物共聚合或與金屬氧化物混成以改善物性的研究
        <p>.........................................................................................................................................................................................................................................        
</table>
{% endblock %}
