{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style></head>
  <table width="700" height="1205" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="1205" valign="top"><p align="left"><img src="images/teacher_17.JPG" width="130" height="150"><strong>&nbsp;</strong><img src="images/icon_01.gif" width="15" height="7"><strong> 周宗翰（Chou, Tzung-Han）副教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          <strong>國立清華大學化工博士</strong><strong><SPAN lang="EN-US"></SPAN></strong></br>
          <strong>國立成功大學化工碩士</strong><strong><SPAN lang="EN-US"></SPAN></strong></br>
          <strong>國立成功大學化工學士</strong><strong><SPAN lang="EN-US"></SPAN></strong></br>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 專長：</span>界面科學、藥物釋放載體、生物界面、生醫工程<strong><SPAN lang="EN-US"></SPAN></strong></p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="45%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="230"><div align="center">EC304</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4625</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="230"><div align="center"><a href="http://www.che.yuntech.edu.tw/Laboratory/EC418/index.htm" target="_blank" class="inwordlink">界面暨生物科技實驗室</a></div></td>
          </tr>
<tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">重點設備</div></td>
            <td width="230"><div align="center">粒徑暨界面電位分析儀、長工作距離螢光顯微鏡、KSV單分子層設備，HPLC、自動取樣機、UV及FL偵測器，高效能DSC、CUP-HORN 超音波震盪器</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC418</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="230"><div align="center">4688</div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="230"><div align="center"><A href="http://webmail.yuntech.edu.tw/cgi-bin/genMail?adr=chouth@yuntech.edu.tw&" target="new_win">chouth@yuntech.edu.tw</A><A href="mailto:chenkuo@yuntech.edu.tw"></A></div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td width="230"><div align="center">
              <p>程序控制 、智慧財產權與工程倫理             
            </div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td width="230"><div align="center">
              <div align="center">
                <div align="center">
                  <p><strong><SPAN lang="EN-US"></SPAN></strong><img src="images/icon_01.gif" width="15" height="7"></div>
              </div>
            </div></td>
          </tr>
          <tr>
            <td width="90" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td width="230"><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=T10000691&writingKind=&deep=G"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 主要研究領域：</span><br>
        藥物劑型設計與製備、生醫材料、熱力學、界面科學、奈米生技化妝品、化妝品載體的製備
        與功效性評估</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">近三年著作及專利:</span><br>
<ol>
<li><b><u>Tzung-Han Chou (周宗翰)*</u></b>, Chien-Wen Chen(陳建文), Chia-Hua Liang, Li-Hsien Yeh, Shizhi Qian, “Simple synthesis, self-assembly, and cytotoxicity of novel dimeric cholesterol derivatives.” Colloids and Surfaces B: Biointerfaces, 116, 153-159 (April 2014). (SCI) [2013 <b>Impact factor: 4.287</b>], [Biophysics, 14/74]
</br>
<li>Chia-Hua Liang, Li-Hsien Yeh, Pei-Wen Liao, <b><u>Tzung-Han Chou*</b></u>, “Characterization and in vitro biocompatibility of catanionic assemblies formed with oppositely charged dicetyl amphiphiles.” Colloids and Surfaces B: Biointerfaces 126, 10-17. (February 2015). (SCI) [2013 Impact factor: 4.287], [Biophysics, 14/74]
</br>
<li>Yu-Shen Cheng, Kuan-Yu Chen, and <b><u>Tzung-Han Chou.</b></u> “Concurrent calcium peroxide pretreatment and wet storage of water hyacinth for fermentable sugar production." Bioresource technology 176, 267-272 (January 2015). (SCI) [2013 Impact factor: 5.039], [Biotechnology & Applied microbiology, 17/165]</br>
<li>Zachary Milne, Li-Hsien Yeh, <b><u>Tzung-Han Chou</b></u>, Shizhi Qian, “Tunable donnan potential and electrokinetic flow in a biomimetic gated nanochannel with pH-regulated polyelectrolyte brushes.” The Journal of Physical Chemistry C 118, 19806-19813 (August 2014). (SCI) [2013 Impact factor: 4.835], [Materials science, Multidisciplinary, 29/251]</br>
<li><b><u>Tzung-Han Chou*</b></u>, Chia-Hua Liang, Yu-Chieh Lee, Li-Hsien Yeh, “Effects of lipid composition on physicochemical characteristics and cytotoxicity of vesicles composed of cationic and anionic dialkyl lipids.” Physical Chemistry Chemical Physics 16, 1545-1553 (January 2014). (SCI) [2013 Impact factor: 4.198], [Physics, Atomic, Molecular & Chemical, 5/33]</br>
<li>Laura Benson, Li-Hsien Yeh, <b><u>Tzung-Han Chou</b></u>, Shizhi Qian, “Field effect regulation of Donnan potential and electrokinetic flow in a functionalized soft nanochannel.” Soft Matter, 9, 9767-9773 (November 2013). (SCI) [2013 Impact factor: 4.151], [Materials science, Multidisciplinary, 33/251]</br>
<li>Chia-Hua Liang, Wen-Yueh Ho, Li-Hsien Yeh, Yu-Shen Cheng, Tzung-Han Chou*, “Effects of 1-hexadecyl-3-methylimidazolium ionic liquids on the physicochemical characteristics and cytotoxicity of phosphatidylcholine vesicles.” Colloids and Surfaces A: Physicochemical and Engineering Aspects, 436, 1083-1091 (September 2013). (SCI) [2013 Impact factor: 2.354], [Chemistry, Physical, 59/136]</br>
<li>Rong-Jyh Lin, Chuan-Min Yen, <b><u>Tzung-Han Chou</b></u>, Feng-Yu Chiang, Guey-Horng Wang, Ya-Ping Tseng, Lin Wang, Ting-Wei Huang, Hui-Chuan Wang, Leong-Perng Chan, Hsiou-Yu Ding, Chia-Hua Liang, “Antioxidant, anti-adipocyte differentiation, antitumor activity and anthelmintic activities against Anisakis simplex and Hymenolepis nana of yakuchinone A from Alpinia oxyphylla.” BMC complementary and alternative medicine, 13(1), 237-250 (September, 2013). (SCI) [2013 Impact factor: 1.877], [Integrative & Complementary Medicine, 8/22]</br>
<li>Chia-Hua Liang, Leong-Perng Chan, <b><u>Tzung-Han Chou</b></u>, Feng-Yu Chiang,Chuan-Min Yen, Pin-Ju Chen, Hsiou-Yu Ding, Rong-Jyh Lin, “Brazilein from Caesalpinia sappan L. antioxidant inhibits adipocyte differentiation and induces apoptosis through caspase-3 activity and anthelmintic activities against Hymenolepis nana and Anisakis simplex.” Evidence-Based Complementary and Alternative Medicine, 2013, 1-14 (February, 2013). (SCI) [2013 Impact factor: 2.175], [Integrative & Complementary Medicine, 6/22]</br>
<li>Leong-Perng Chan, <b><u>Tzung-Han Chou</b></u>, Guey-Horng Wang,Ya-Ping Tseng, Pin-JuChen, Da-Long Cheng, Chia-Hua Liang, “Ugonin K induces cell cycle arrest and apoptosis through reactive oxygen species/apoptosis signal pathway in human skin cancer cells.” Advanced Materials Research, 690, 1422-1425 (May, 2013). (EI)</br>
<li>Chia-Hua Liang, <b><u>Tzung-Han Chou</b></u>, Ya-Ping Tseng, Hsiou-Yu Ding, “trans-Caffeic acid stearyl ester from Paeonia suffruticosa inhibits melanin synthesis by cAMP-mediating down-regulation of α-melanocyte-stimulating hormone-stimulated melanogenesis signaling pathway in B16 cells.” Biological and Pharmaceutical Bulletin, 35, 2198-2203 (September, 2012). (SCI) [2013 Impact factor: 1.778] [Pharmacology & Pharmacy, 161/256]</br>
<li>Chia-Hua Liang, Leong-Perng Chan, Hsiou-Yu Ding, Edmund Cheung So, Rong-Jyh Lin, Hui-Min Wang, Ying-Ging Chen, <b><u>Tzung-Han Chou*</b></u>, “Free radical scavenging activity of 4-(3,4-dihydroxybenzoyloxymethyl)phenyl-o-β-d-glucopyranoside from Origanum vulgare and its protection against oxidative damage.” Journal of Agricultural and Food Chemistry, 60, 7690-7696 (July, 2012). (SCI) [2013 Impact factor: 3.107], [Agriculture, Multidisciplinary, 2/56]</br>
<li>Chia-Hua Liang, Guey-Horng Wang, <b><u>Tzung-Han Chou</b></u>, Shih-Hao Wang, Rong-Jyh Lin, Leong-Perng Chan, Edmund Cheung So, Jyh-Horng Sheu, “5-epi-sinuleptolide induces cell cycle arrest and apoptosis through tumor necrosis factor/mitochondria-mediated caspase signaling pathway in human skin cancer cells.” Biochimica et Biophysica Acta (BBA) - General Subjects, 1820, 1149-1157 (July, 2012). (SCI) [2013 Impact factor: 3.829], [Biophyics, 19/74]</br>
<li>Leong-Perng Chan, <b><u>Tzung-Han Chou</b></u>, Hsiou-Yu Ding, Pin-Ru Chen, Feng-Yu Chiang, Po-Lin Kuo, Chia-Hua Liang, “Apigenin induces apoptosis via tumor necrosis factor receptor- and Bcl-2-mediated pathway and enhances susceptibility of head and neck squamous cell carcinoma to 5-fluorouracil and cisplatin.” Biochimica et Biophysica Acta (BBA) - General Subjects, 1820, 1081-1091 (July, 2012). (SCI) [2013 Impact factor: 3.829], [Biophyics, 19/74]</br>
<li>Chien-Hsiang Chang, Chia-Hua Liang, Yu-Ying Hsieh, <b><u>Tzung-Han Chou*</b></u>, “Molecular packing and lateral interactions of distearoylphosphatidylcholine with dihexadecyldimethylammonium bromide in langmuir monolayers and vesicles.” Journal of Physical Chemistry B, 116, 2455-2463 (February, 2012) (SCI) [2013 Impact factor: 3.337], [Chemistry, Physical, 39/136]</br>
<li><b><u>Tzung-Han Chou*</b></u>, “Current application of lipid- and surfactant-based vesicles for cosmeceuticals: a review” Current Pharmaceutical Biotechnology, in press, (February, 2015) (SCI) [2013 Impact factor: 2.511], [Pharmacology & Pharmacy, 112/256]</br>
<li><b><u>Tzung-Han Chou*</b></u>, Chien-Wen Chen “Synthesis, self-assembly, and in vitro biocompatibility of a novel steroidal oxime.” Current Pharmaceutical Biotechnology, in press, (September, 2014) (SCI) [2013 Impact factor: 2.511], [Pharmacology & Pharmacy, 112/256]</br>

</ol>



</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">專書著作:</span><br>

<ol>
<li><b><u>周宗翰</b></u>、張乃方、呂祖尚、陳玉芬、嚴嘉蕙、楊濟華，”界面化學(二版)”，第1章表面張力與界面張力，p1.1-1.13，2013，02，華格那企業有限公司，ISBN 978-986-5929-88-6。</br>
<li><b><u>周宗翰</b></u>、梁家華， “奈米液胞化妝品的開發與應用”，化工技術，Vol.225，p122-130，(December, 2011)，ISSN 1814-9154。</br>
</p>
</ol>

        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">專利:</span><br>

<ol>
<li>丁秀玉、梁家華、<b><u>周宗翰</b></u> ， “用於防止黑色素沉澱之沙苑子萃取物”， 中華民國，發明專利，第I477292，民國103(2015)年03月21日。</br>
<li>丁秀玉、梁家華、<b><u>周宗翰</b></u>， “用於防止黑色素沉澱之防風草萃取物”， 中華民國，發明專利，第I474828，民國103(2015)年03月01日。</br>
<li><b><u>周宗翰</b></u>、梁家華、蕭靖樺， “用於皮膚美白之奈米聚集體及其製造方法”，中華民國，發明專利，第I457140，民國103(2014)年10月21日。</br>
<li><b><u>周宗翰</b></u>、梁家華、洪偉章， “含有蘆薈羥基蔥?衍生物之微脂粒遞送系統及其製造方法”， 中華民國，發明專利，第I439294，民國103(2014)年6月1日。</br>
<li>梁家華、<b><u>周宗翰</b></u>、丁秀玉 、洪偉章 、陳品儒， “利用吸光值變化定量評估抑制黑色素生成效果之方法” 中華民國，發明專利，第I439691，民國103(2014)年6月1日。</br>
<li>丁秀玉、梁家華、<b><u>周宗翰</b></u>， “牡丹皮萃取物及其製造方法暨其抗氧化之應用”， 中華民國，發明專利，第I433690，民國103(2014)年04月11日。</br>
<li>丁秀玉、梁家華、<b><u>周宗翰</b></u>， “牡丹皮萃取物及其製造方法暨其皮膚美白之應用”， 中華民國，發明專利，第I417127，民國102(2013)年12月01日。</br>
<li>梁家華、丁秀玉、<b><u>周宗翰</b></u>，“來自牛至(Origanum vulgare) 之新化合物及其用途”，中華民國發明專利，第I386232，民國102(2013)年02月21日。</br>
<li>梁家華、<b><u>周宗翰</b></u>、陳亭宇、曾雅萍、易采旋、陳品儒、程達隆， “動物固定裝置”，中華民國新型專利，M 420171，民國101(2012)年01月11日。</br>





</ol>


</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">三年內曾任主持人執行之計畫:</span><br>

<table width="95%" border="0" align="center"table style="border:5px #cccccc solid;" rules="all" cellpadding='5';>
<tr>
<td width="50" align="center">項次</td>
<td width="50" align="center">年度</td>
<td width="100" align="center">計畫名稱及編號</td>
<td width="50" align="center">補助單位</td>
</tr>

<tr>
<td align="center">1</td>
<td align="center">103</td>
<td>奈米結構活性脂質載體之界面性質、製備、及物化特徵(1/2)。</br>
(MOST 103-2221-E-224-077-MY2)</td>
<td align="center">科技部</td>
</tr>

<tr>
<td align="center">2</td>
<td align="center">103</td>
<td>D-α-生育酚聚乙二醇1000琥珀酸酯-功能性奈米乳液的開發。</br>
(MOST 103-2622-E-224-005-CC3)</td>
<td align="center">科技部</td>
</tr>

<tr>
<td align="center">3</td>
<td align="center">103</td>
<td>103年度中小企業即時技術輔導計畫-農業廢棄物香蕉花之效能評估及乳霜產品之開發。</br>
 (103-273-01及103-273-02)</td>
<td align="center">經濟部工業局</td>
</tr>

<tr>
<td align="center">4</td>
<td align="center">102</td>
<td>包覆minoxidil活性奈米聚集體的製備與開發。</br>
(NSC102-2622-E-224 -011-CC3)</td>
<td align="center">國科會</td>
</tr>

<tr>
<td align="center">5</td>
<td align="center">102</td>
<td>102年度中小企業即時技術輔導計畫-蠶絲蛋白之化妝水、精華液及乳液產品開發。</br>
(102-327-01 及102-327-02)</td>
<td align="center">經濟部工業局</td>
</tr>

<tr>
<td align="center">6</td>
<td align="center">101</td>
<td>雙效奈米粒子之開發與應用。</br>
(NSC 101-2622-E-224-010 -CC3)</td>
<td align="center">國科會</td>
</tr>
</table>

</p>


        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">其他獲獎事蹟</span><br>


<table width="95%" border="0" align="center"table style="border:5px #cccccc solid;" rules="all" cellpadding='5';>
<tr>
<td width="50" align="center">項次</td>
<td width="200" align="center">事蹟</td>
</tr>


<tr>
<td align="center">1</td>
<td align="center">指導學生獲得2014馬來西亞國際發明展-金牌</td>
</tr>

<tr>
<td align="center">2</td>
<td align="center">指導學生獲得2014波蘭國際發明展-金牌</td>
</tr>

<tr>
<td align="center">3</td>
<td align="center">指導學生獲得2013韓國首爾國際發明展-銀牌</td>
</tr>

<tr>
<td align="center">4</td>
<td align="center">指導學生獲得2014澳門國際發明展-銅牌</td>
</tr>

<tr>
<td align="center">5</td>
<td align="center">指導學生獲得2014台北國際發明暨技術交易展-銅牌</td>
</tr>

<tr>
<td align="center">6</td>
<td align="center">指導學生入圍科技部創新創業激勵計畫第21號-活粒旺</td>
</tr>

<tr>
<td align="center">7</td>
<td align="center">指導學生獲得101、102、103學年度雲科大化材系實務專題成果展-優等獎</td>
</tr>

<tr>
<td align="center">8</td>
<td align="center">指導學生入選103年度中區技專校院創新、創業、商品化-崢嶸棟梁</td>
</tr>

<tr>
<td align="center">9</td>
<td align="center">指導學生參加雲科大師生創新園夢計畫-搶先追夢-獲得最具潛力獎</td>
</tr>

<tr>
<td align="center">10</td>
<td align="center">協助辦理第32屆台灣觸媒與反應工程研討會</td>
</tr>

<tr>
<td align="center">11</td>
<td align="center">協助2014年中華民國界面科學學會年會暨論文發表研討會，受邀演講。</td>
</tr>

<tr>
<td align="center">12</td>
<td align="center">協助2013台灣化學工程學會60週年年會暨國科會化工學門成果發表研討會，受邀演講及壁報競賽評審。</td>
</tr>

<tr>
<td align="center">13</td>
<td align="center">協助101年度中國工程師學會學生分會工程論文競賽，受邀擔任初、複選審查委員。</td>
</tr>

<tr>
<td align="center">14</td>
<td align="center">協助2011國際化粧品科技研討會，受邀演講。</td>
</tr>

<tr>
<td align="center">15</td>
<td align="center">協助2013台北國際發明暨技術交易展出(國科會科技創新館區)。</td>
</tr>

<tr>
<td align="center">16</td>
<td align="center">2014國立雲林科技大學 研發績優新人獎</td>
</tr>



</table>

</p>


        .........................................................................................................................................................................................................................................</p>
  </tr>
</table>
{% endblock %}
