<html>
<head>
<title>main</title>
<meta http-equiv="Content-Type" content="text/html; charset=big5">
<style type="text/css">
<!--
body {
	background-image: url(images/de.gif);
	margin-top: 0px;
	margin-bottom: 0px;
}
-->
</style>
<link href="all.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style></head>
<body bgcolor="#FFFFFF" leftmargin="0" marginwidth="0">
<!-- ImageReady Slices (main.psd - Slices: 01, 03, 04) -->
<table width="980" height="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="___01">
<tr>
		<td>
			<img src="images/main_01.jpg" alt="" width="28" height="100%" align="top"></td>
<td width="168" height="433" valign="top" bgcolor="#CCCCCC"><img src="images/c_01.jpg" alt="" width="168" height="433" align="top"></td>
<td width="756" align="center" valign="top" bgcolor="#FFFFFF"><table width="700" border="0" cellpadding="0" cellspacing="0" class="inword">
  <tr>
    <td width="700" height="30" background="main_c.html"><div align="right"><a href="main_c.html" class="inwordlink"><img src="images/icon_12.gif" alt="" width="15" height="15" border="0" align="absmiddle"> 上一頁</a></div> </td></tr>
</table>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="100% </h5>" valign="top"><p align="left"><img src="images/teacher_15.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> 劉博滔（Bo Tau Liu）教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          國立台灣大學化工博士        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>光學膜、奈米材料、高分子合成、環境觸媒、膠體與界面現象 </p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="62%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="70" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="354"><div align="center">EC304</div></td>
          </tr>
          <tr>
            <td width="70" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td width="354"><div align="center">4622</div></td>
          </tr>
          <tr>
            <td width="70" height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td width="354"><div align="center" class="inwordlink"><a href="http://www.interface.yuntech.edu.tw/"target="_blank">光學膜與介面材料實驗室</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC416</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td><div align="center">4683</div></td>
          </tr>
          <tr>
            <td width="70" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td width="354"><div align="center" class="mail"><a href="mailto:wangzen@yuntech.edu.tw" class="mail"></a><a href="mailto:liubo@yuntech.edu.tw" class="mail">liubo@yuntech.edu.tw</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td><div align="center"> 高等輸送現象、高等化工動力學、界面化學特論、綠色材料概論、<br>儀器分析實習、單元操作與輸送現象、表面科學與分析</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td><div align="center">單元操作與輸送現象、表面科學與分析、高等化工動力學</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=9616991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">主要研究領域：</span><br>
          ●	表面微結構抗反射膜<br>
          ●	高精細抗眩膜<br>
          ●	高折射率材料<br>
          ●	透明導電膜製作<br>
          ●	有機/無機奈米粒子之合成、分散及表面改質<br>
          ●	光學塗液之開發                
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">榮譽事蹟：</span><br>
          ●	獲登錄於Marquis Who&rsquo;s Who in the World (世界名人錄)，2011。<br>
          ●	獲國立雲林科技大學研發績優新人獎，2009。<br>
          ●	獲登錄於Marquis Who&rsquo;s Who in Science and Engineering (科學與工程名人錄)，2007。<br>
          ●	獲亞洲化學立青文教基金會博士論文獎學金，民國86年。<br>
          ●	當選台大優秀青年/大專優秀青年，民國84年。<br>
          ●	獲中華民國斐陶斐榮譽學會榮譽會員，民國82年。        
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1">專利：</span><br>
          ●	劉博滔，劉展名，&rdquo;製造紫外線硬化塗料組成物的方法以及塗裝紫外線硬化塗料的方法&rdquo;，中華民國，發明，第I313289號，98年8月。<br>
          ●	P.T. Liu, K.K. Lai, C.S. Chen, and K.H. Yang, &ldquo;Optical coating equipment and ultraviolet irradiative device&rdquo;, 美國, US77554102，98年6月。<br>
          ●	劉博滔，&rdquo;光學薄膜結構及其製造方法&rdquo;，中國，發明，CN100460894，98年2月。<br>
          ●	劉博滔，&rdquo;光學薄膜結構及其製造方法&rdquo;，中華民國，發明，第I305587號，98年1月。<br>
          ●	P.T. Liu, &rdquo;Optical film and fabrication method thereof&rdquo;, 美國，US7325365，97年9月。<br>
          ●	賴寬國，劉博滔，楊昆炫，&rdquo;省空間之塗料供應系統&rdquo;，中華民國，發明，第I 269669號，96年1月。<br>
          ●	劉博滔，賴寬國，陳慶松，楊昆炫，&rdquo;光學膜塗佈設備及紫外光照射裝置&rdquo;，中華民國，中華民國，發明，第I 269669號，95年12月<br>
          ●	劉博滔，&rdquo;轉輪式郎肯循環裝置&rdquo;，中華民國，新型，第214407號，92年10月。<br>
          ●	劉博滔，&rdquo;可提高熱功效率之循環裝置&rdquo;，中華民國，新型，第209954號，92年8月。<br>
          ●	劉博滔，葉威德，&rdquo;抗反射膜及其製作方法&rdquo;，中華民國，發明，申請號:98124334，98年7月。        
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong><span class="style1"> 近三年研究計畫：</span><br>
          ●	97年度化學製品製造業原物料耗用通常水準調查，國稅局，耗用水準調查訂定，2008/1/1~2008/6/30。<br>
          ●	微奈米矽鈦氧化物粒子在光學塗液之特性研究，國科會，專題計畫，NSC 97-2218-E-224-001，2008/1/1~2007/10/31。<br>
          ●	液晶顯示器自組裝抗反射膜之特性研究，雲科大，專題計畫，2008/1/1~2008/7/31。<br>
          ●	奈米無機混成高分子研究，中科院，學界分包，2008/2/1~2008/11/30。<br>
          ●	高精細抗眩膜之特性研究，國科會，專題計畫，NSC 97-2221-E-224-022，2008/8/1~2009/7/31。<br>
          ●	高分子奈米複合光電材料技術三年計畫(第三年度)，低折射率高分子薄膜材料技術，子項共同計畫主持人，經濟部，學界科專，18,500,00，2008/11/1~2009/10/31。<br>
          ●	IMD耐衝擊油墨可行性評估，經濟部，業界關懷，2009/2/1-2009/7/31。<br>
          ●	奈米混成溶膠材料製備技術開發，中科院，學界分包，2009/4/20~2009/12/10。<br>
          ●	聚氨基甲酸酯/二氧化矽混成研究，弘源工業，業界委託，2009/5/1~2009/10/31。<br>
          ●	以奈米粒子製作表面微結構抗反射膜之特性研究，國科會，專題研究，計畫主持人，NSC 98-2221-E-224-037，2009/8/1~2010/7/31。<br>
          ●	聚氨基甲酸酯混成材料於模內裝飾射出成型之應用，國科會，專題計畫，NSC 98-2622-E-224-026-CC3，2009/11/1~2010/10/31。<br>
        <p>.........................................................................................................................................................................................................................................        
        <table width="696" border="0">
          <tr>
            <td align="right"><p><span class="menu">Last Update Date:2010.10.29</span></p></td>
          </tr>
        </table>
        <p>
        <p>        </td>
    </tr>
  </table>  </td>
<td><img src="images/main_03.jpg" alt="" width="28" height="100%" align="top"></td>
  </tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>