{% extends "base.html"%}
{% block title %}教師陣容{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<style type="text/css">
<!--
a:link {
	color: #996600;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #996600;
}
a:active {
	text-decoration: none;
}
.style1 {color: #CC3300}
-->
</style></head>
  <table width="700" height="100%" border="0" cellpadding="0" cellspacing="0" class="inword">
    <tr>
      <td height="721" valign="top"><p align="left"><img src="images/teacher_10.jpg" width="150" height="150" border="1">
        <strong>&nbsp;<img src="images/icon_01.gif" width="15" height="7"> &nbsp;林春強（Chuen-Chang Lin）教授</strong></p>
        <p align="left">.........................................................................................................................................................................................................................................</p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">學歷：</span><br>
          美國韋恩州立大學化工博士<br>
        </p>
        <p><strong><img src="images/icon_02.gif" alt="" width="15" height="7"> </strong><span class="style1">專長：</span>電極材料、生醫/生 化材料、 腐蝕與災害預防及應變、危害物管理</p>
        <p>.........................................................................................................................................................................................................................................<br>
        </p>
        <table width="57%" border="1" cellpadding="0" cellspacing="1" bordercolor="#999999" class="inword">
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">研究室</div></td>
            <td width="305"><div align="center">EC314</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td><div align="center">4619</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">FAX</div></td>
            <td><div align="center">05-5312071</div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室名稱</div></td>
            <td><div align="center"><a href="http://www.che.yuntech.edu.tw/Biomedical%20and%20Electrochemistry%20lab/index.htm" target="_blank" class="inwordlink">電化/生醫材料實驗室</a></div></td>
          </tr>
          <tr>
            <td height="20" bgcolor="#DFDFDF"><div align="center">實驗室</div></td>
            <td><div align="center">EC512</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">分機</div></td>
            <td><div align="center">4698</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">Mail</div></td>
            <td><div align="center" class="mail"><a href="mailto:linchuen@yuntech.edu.tw" class="mail">linchuen@yuntech.edu.tw</a><a href="mailto:wangzen@yuntech.edu.tw" class="mail"></a></div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教授課程</div></td>
            <td valign="middle"><div align="center">物理化學(一) 物理化學(二)<br>
              物理化學實驗 物理化學實驗(一) 物理化學實驗(二)<br>
              生物復育與整治 化工製程安全設計特論 電化學特論<br>
              危害物熱處理 儲能元件與裝置</div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">網路輔助教學</div></td>
            <td><div align="center">
              <p><a href="http://dlearn.yuntech.edu.tw/"  target="_blank" class="inwordlink">物理化學(一) 物理化學(二)<br>
                物理化學實驗 物理化學實驗(一) 物理化學實驗(二)<br>
                生物復育與整治 化工製程安全設計特論 電化學特論<br>
                危害物熱處理 儲能元件與裝置</a> </p>
              <p><a href="http://groups.google.com.tw/group/g9815717?hl=zh-TW" target="_blank" class="inwordlink">林春強老師討論區</a><img src="images/icon_02.gif" alt="" width="15" height="7"></p>
            </div></td>
          </tr>
          <tr>
            <td width="83" height="20" bgcolor="#DFDFDF"><div align="center">教師著作</div></td>
            <td><div align="center"><a href="http://webapp.yuntech.edu.tw/WebTAS/TchQuery/tchWriQueryResult.aspx?academic=1&dept=UEC&teacherName=8807991&writingKind=&deep=G" target="_blank"><img src="images/icon_07.gif" width="16" height="16" border="0"></a></div></td>
          </tr>
        </table>        
        <p>.........................................................................................................................................................................................................................................</p>
        <p><span class="style1"><strong><img src="images/icon_02.gif" alt="" width="15" height="7"></strong> 主要研究領域：</span><br>
          電極材料改質、生醫/生化材料、腐蝕與災害防治
</table>
