{% extends "base.html"%}
{% block title %}首頁{% endblock %}
{% block top %}{% include "admtop.html" %}{% endblock %}
{% block content %}
			<form id="form" class="createtable">
				<input class="form-control" name="title" type="text" required onkeyup="value=value.replace(/[\一-\龥]|\s|\b/g,'') " placeholder="格式 不可中文 不可空白" id = "fc-inp"></br>
				<textarea class="content" name="content" data-provide="markdown" rows="20"></textarea> 
				<hr/>
			</form>
			<button type="submit" id="save" class="btn btn-success">
				<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
				直接發表此文
			</button>
{% endblock %} 
{% block script %}
<script>	
<script>
	function showmd(url) {
		$.ajax({
			type : "POST",
			url : "/md/list/" + url ,
			dataType: "text",
			success: function(data) {
				var title = url.split(".",1);
				var titles = title.toString();
				var titled = titles.substr(11);
				$("textarea.content").data('markdown').setContent(data);
				$("#fc-inp").val(titled);
			}
		});
	}
</script>
<script>
	$(document).ready(function(){
		$.getJSON("/edit/posts" , function ( data ) {
			console.log( data );
			var number =1;
			$.each(data, function (index, value){
				console.log(value);
				var val = "'" + value + "'";
				var myRow = '<tr><td>'+number + '</td><td><a href="javascript:showmd('+ val + ')"> '+ value +'</a></td></tr>';
			 	number = number +1;
				$("#marktitle tr:last").after(myRow); 
			})
	  	});
	});
</script>	  
<script>
	$(function() {
		$("button#submit").click(function(){
		   	$.ajax({
		 		type: "POST",
				url: "/md/submit",
				datatype: "text",
		 		data: $('#form').serialize(),
				success: function(data){ 
					alert(data);},
				error: function(){ alert("503 error");} 
			});
		});
	});
</script>
{% endblock %}
