{% extends "base.html"%}
{% block title %}系所簡介{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<div class="col-xs-2 col-sm-2" style="height:100%;">

	<img style="display:block; margin:auto;" src="/static/img/yuntechche.png" width="100%"></img>
</div>
<div class="col-xs-10 col-sm-10" style="height:100%;">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">教授名稱        <br></th>
    <th class="tg-yw4l">職稱<br><br></th>
    <th class="tg-yw4l">專長與研究領域</th>
  </tr>
  <tr>
    <td class="tg-yw4l">林智汶</td>
    <td class="tg-yw4l">教授兼系主任</td>
    <td class="tg-yw4l">黏著科學與技術、橡膠技術、複合(混成)材料、高分子材料在儲能裝置之應用</td>
  </tr>
  <tr>
    <td class="tg-yw4l">楊肇政</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">電化學、熔融鹽化學、材料化學、污染防治</td>
  </tr>
  <tr>
    <td class="tg-yw4l">黃振家</td>
    <td class="tg-yw4l">教授兼副校長</td>
    <td class="tg-yw4l">分離技術、吸附工程、環境工程、化工製程安全設計</td>
  </tr>
  <tr>
    <td class="tg-yw4l">陳文章</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">生化工程、生物感測器設計、生物分離技術、微生物發酵工程</td>
  </tr>
  <tr>
    <td class="tg-yw4l">賴世明</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">天然物萃取與純化、製備級層析分離技術、生化分離技術</td>
  </tr>
  <tr>
    <td class="tg-yw4l">王怡仁</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">薄膜分離材料、高分子摻和材料、奈米複合材料、導電高分子材料</td>
  </tr>
  <tr>
    <td class="tg-yw4l">廖文城</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">高分子化學、界面化學、化學工業安全、有機合成工業</td>
  </tr>
  <tr>
    <td class="tg-yw4l">林春強</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">電極材料改質、生醫/生化材料、腐蝕與災害防治</td>
  </tr>
  <tr>
    <td class="tg-yw4l">王健聰</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">奈米材料、太陽能電池、能源觸媒、半導體感測器</td>
  </tr>
  <tr>
    <td class="tg-yw4l">陳文星</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">石化製程、觸媒化學、污染防制</td>
  </tr>
  <tr>
    <td class="tg-yw4l">劉博滔</td>
    <td class="tg-yw4l">教授</td>
    <td class="tg-yw4l">光學膜、奈米材料、高分子合成、環境觸媒、膠體與界面現象</td>
  </tr>
  <tr>
    <td class="tg-yw4l">粘譽薰</td>
    <td class="tg-yw4l">副教授</td>
    <td class="tg-yw4l">奈米纖維、生醫材料、奈米複合材料</td>
  </tr>
  <tr>
    <td class="tg-yw4l">周宗翰</td>
    <td class="tg-yw4l">副教授</td>
    <td class="tg-yw4l">界面科學、藥物釋放載體、生物界面、生醫工程</td>
  </tr>
  <tr>
    <td class="tg-yw4l">陳國裕</td>
    <td class="tg-yw4l">副教授</td>
    <td class="tg-yw4l">生醫材料、高分子合成、奈米材料</td>
  </tr>
  <tr>
    <td class="tg-yw4l">吳知易</td>
    <td class="tg-yw4l">助理教授</td>
    <td class="tg-yw4l">有機和無機材料、光電高分子材料、太陽能電池</td>
  </tr>
  <tr>
    <td class="tg-yw4l">鄭宇伸</td>
    <td class="tg-yw4l">助理教授</td>
    <td class="tg-yw4l">生化工程、綠色化學工程、生質能源、應用微生物技術、微藻生物科技、生物程序設計、工程經濟與生命週期分析等</td>
  </tr>
  <tr>
    <td class="tg-yw4l">葉禮賢</td>
    <td class="tg-yw4l">助理教授</td>
    <td class="tg-yw4l">奈米流體裝置、生物微流體分離技術、界面工程、能源轉換</td>
  </tr>
  <tr>
    <td class="tg-yw4l">莊寶霖</td>
    <td class="tg-yw4l">技士</td>
    <td class="tg-yw4l">儀器設備管理維修、維護，材料，業務之零用金管理,分機:4602 聯絡信箱:chuangpl@yuntech.edu.tw</td>
  </tr>
  <tr>
    <td class="tg-yw4l">周秋楓</td>
    <td class="tg-yw4l">助教</td>
    <td class="tg-yw4l">教務行政，招生業務、課程事務等相關系上行政工作,分機:4601 聯絡信箱:choucf@yuntech.edu.tw</td>
  </tr>
  <tr>
    <td class="tg-yw4l">孫嘴英</td>
    <td class="tg-yw4l">工友</td>
    <td class="tg-yw4l">公文書信傳遞及其他交辦事項，系館環境及安全維護,分機:4603 聯絡信箱:sunty@yuntech.edu.tw</td>
  </tr>
</table>
</div>

{% endblock %}
